@charset "ISO-8859-1";
		body{
			font-family: Verdana ;
			background: #f9f9f9;
			line-height: 25px;
		}
		a{
			text-decoration: underline;
			color: inherit;
		}
		div{
			align-items: center;
		}
		h1,h2,h3,h4,h5,h6{
			text-align:center;
			margin: 10px;
		}
		h1{
			font-size: 50px;
			font-weight: 600;
		}
		h3{
			font-size: 35px;
			font-weight: 500;
		}
		.block{
			line-height: 50px;
			width:700px;
			margin: auto;
		}
		.label{
			width:300px;
			float:left;
			font-size: 18px;
		}
		.input{
			border:ridge 5px;
			padding-left:6px;
			width:300px;
			float:left;
			height: 30px;
			border-radius:7px;
		}
		.button{
			border-radius:3px;
			border:none;
			background:white;
			color:black;
			display: inline-block ;
			font-size:18px;
			text-align: center;
			height:37px;
			width:100px;
			box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);
			align-self: center;
		}
		.button:hover{
			background: ddd;
		}
		
		.clear{
			clear:both;
		}
		
		
		
		
		/* Navbar container */
		.navbar {
		  overflow: hidden;
		  background: #f9f9f9;
		  border-radius:0px;
		  margin-left:-8px;
		  margin-top:-8px;
	      width: 101.05%;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		}
		
		/* Links inside the navbar */
		.navbar a {
		  float: left;
		  font-size: 18px;
		  color: black;
		  text-align: center;
		  padding: 17px 16px;
		  text-decoration: none;
		  
		}
		
		.dropbtn{
			min-width: 140px;
		}
		/* The dropdown container */
		.dropdown {
		  float: left;
		  overflow: hidden;
		}
		
		/* Dropdown button */
		.dropdown .dropbtn {
		  font-size: 18px;
		  border: none;
		  outline: none;
		  color: black;
		  padding: 17px 16px;
		  background-color: inherit;
		  font-family: inherit; /* Important for vertical align on mobile phones */
		  margin: 0; /* Important for vertical align on mobile phones */
		}
		
		/* Add a red background color to navbar links on hover */
		.navbar a:hover, .dropdown:hover .dropbtn {
		  background:#ddd;
		}
		
		/* Dropdown content (hidden by default) */
		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: #f9f9f9;
		  min-width: 160px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		}
		
		/* Links inside the dropdown */
		.dropdown-content a {
		  float: none;
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		  text-align: left;
		}
		
		/* Add a grey background color to dropdown links on hover */
		.dropdown-content a:hover {
		  background-color: #ddd;
		}
		
		/* Show the dropdown menu on hover */
		.dropdown:hover .dropdown-content {
		  display: block;
		}
		
		table{
			border: none;
			border-collapse: collapse;
		}
		
	th, td{
			text-align:left;
			padding: 15px;
			border-bottom: outset thin;
		}
	
		